<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-card>
    <img src="../../assets/images/{{ message.fromName }}.jpg" />
    <ion-card-header>
      <ion-card-title>{{ message.fromName }}</ion-card-title>
      <ion-card-subtitle>{{ message.date }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h1>{{ message.subject }}</h1>
      {{ message.text }}
    </ion-card-content>
  </ion-card>
</ion-content>
